<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complex Interest Calculator</title>
</head>
<body>
    <h1>Complex Interest Calculator</h1><br>
    <form action="/" method="post">
        <label for="from">From:</label>
        <input type="date" name="from" id="from">
        <label for="to">To:</label>
        <input type="date" name="to" id="to">
        <label for="investment">Montly Investment</label>
        <input type="number" name="investment" id="investment">
        <label for="interest">Average yearly interest rate</label>
        <input type="number" name="interest" id="interest" min="0" max="100">
        <input type="submit" value="Calculate">
    </form>
</body>
</html>